.backgroundImage {
	//background: linear-gradient(to bottom, #EE4266 0%,blue 100%);
	background: black;
	height: 100vh;
	width: 100vw;
}

.addName {
	font-size: 72px;
	background: linear-gradient(to right, #ee4266 0%, #4186d9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.button {
	background: linear-gradient(to right, #ee4266 0%, #4186d9 100%);
	border: none;
	color: black;
}

.uploadBox {
	background: black;
}

.dragText {
	color: white;
}

.sizeLimit {
	color: white;
}

.analyzingLoad {
    color: white;
}

.analyzedVideo {
    background: linear-gradient(to right, #ee4266 0%, #4186d9 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
